<link rel="stylesheet" type="text/css" href="/style.css">

<h1>Anchorman Battle!</h1>
<div>
  <img src="https://m.popkey.co/702293/AoWNm.gif">
</div>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <div>
    <label for="player_1">
      Player 1
    <input type="text" id="player_1" name="player_1">
    </label>
  </div>
  <div>
    <label for="player_2">
      Player 2
    <input type="text" id="player_2" name="player_2">
    </label>
  </div>
  <div class="button">
    <button type="submit">
      Battle!
    </button>
  </div>
</form>
