<h1>Preparing <%= @player_1 %> and <%= @player_2 %> to battle to the death</h1>
<div>
  <h3> <%= @player_2 %>'s HP: 100 </h3>
</div>

<form action="/attack" method="post">
<div class ="button">
  <button type="submit">
    Slap!
  </button>
</div>
